In [112]:
import sklearn
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import pickle
import matplotlib.pyplot as plt

In [113]:
# read file
dataset=pd.read_csv('test.csv')
dataset.head()

   YearsExperience    Salary
0              5.3   83088.0
1              3.7   57189.0
2              7.9  101302.0
3              1.5   37731.0
4              2.0   43525.0

In [114]:
dataset.shape

(9, 2)

In [115]:
dataset.describe()

       YearsExperience         Salary
count         9.000000       9.000000
mean          5.766667   80558.000000
std           2.907318   28405.215987
min           1.500000   37731.000000
25%           3.700000   57189.000000
50%           5.900000   83088.000000
75%           7.900000  101302.000000
max           9.500000  116969.000000

In [116]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
YearsExperience    9 non-null float64
Salary             9 non-null float64
dtypes: float64(2)
memory usage: 224.0 bytes

In [117]:
dataset.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [118]:
dataset.duplicated().sum()

0

In [119]:
# separating features and labels of training dataset
x_test=dataset.iloc[:,:-1].values
y_test=dataset.iloc[:,1].values

In [120]:
x_test.shape,y_test.shape

((9, 1), (9,))

In [121]:
# reading the pickle file
fileObject = open('train_data.pkl','rb')
classifier = pickle.load(fileObject)
sc = pickle.load(fileObject)

In [122]:
classifier

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [123]:
# feature scaling
x_test=sc.transform(x_test)
# x_test.shape

In [124]:
# print(x_test)print

In [125]:
x_test.shape,y_test.shape

((9, 1), (9,))

In [126]:
# getting prediction values
y_pred = classifier.predict(x_test)
y_pred.shape
dataset = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred})

In [127]:
# y_pred.shape

In [128]:
Accuracy = sklearn.metrics.r2_score(y_test,y_pred)*100
print(Accuracy)

98.03362231635178