# Import Libaries

In [33]:
import pickle
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.metrics import confusion_matrix,accuracy_score
import warnings
warnings.filterwarnings('ignore')

# load test file

In [34]:
dataset = pd.read_csv('test_file.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,5027,15673223,Hou,626,France,Male,44,10,0.00,2,0,0,164287.86,0
1,2197,15791700,Ugochukwutubelum,773,Germany,Male,47,2,118079.47,4,1,1,143007.49,1
2,1232,15749482,Zack,772,Spain,Male,30,4,78653.05,1,1,0,1790.48,0
3,4590,15611961,Stewart,615,France,Male,35,7,0.00,2,1,0,150784.29,0
4,380,15629677,Distefano,687,Spain,Female,39,2,0.00,3,0,0,188150.60,1

# load model

In [35]:
fileobj=open('test.pkl','rb')
classifier = pickle.load(fileobj)

# seperating features and labels from dataset

In [36]:
x_test = dataset.iloc[:,3:13].values
# Exited
y_test = dataset.iloc[:,13].values

In [37]:
def categorical_encode(x):
   # Encoding categorical data country
    labelencoder_x_country = LabelEncoder()
    x[:,1] = labelencoder_x_country.fit_transform(x[:,1])
   # Encode categorical data gender
    labelencoder_x_gender = LabelEncoder()
    x[:,2]  =  labelencoder_x_gender.fit_transform(x[:,2])
    ohe_country = OneHotEncoder(categorical_features=[1])
    x = ohe_country.fit_transform(x).toarray()
    x = x[:, 1:]
    return x

x_test = categorical_encode(x_test)

# transform test data

In [38]:
# x_test = sc.transform(x_test)
# x_test

# predict test result

In [39]:
prediction = classifier.predict(x_test)

In [40]:
df = pd.DataFrame({'Actual': y_test, 'Predicted': prediction})  
df.head()

   Actual  Predicted
0       0          0
1       1          1
2       0          0
3       0          0
4       1          1

# checking how many prediction are correct predicted and how many are wrongly predicted

In [41]:
cm = confusion_matrix(prediction,y_test)
cm

array([[1532,  217],
       [  64,  187]])

In [42]:
from sklearn.model_selection import cross_val_score
accuracies=cross_val_score(estimator=classifier, X = x_test,y = y_test,cv=10)
accuracies

array([0.82587065, 0.86069652, 0.86069652, 0.85074627, 0.855     ,
       0.845     , 0.85929648, 0.84422111, 0.85427136, 0.87437186])

In [43]:
accuracies.mean()

0.8530170754268858

In [44]:
accuracies.std()

0.01225821501487788