In [19]:
import numpy as np
import pandas as pd
import seaborn as sb
import pandas.api.types as  ptypes

In [20]:
df=pd.read_csv("bank.csv",delimiter=';')
# df

In [21]:
df.shape

(4521, 17)

In [22]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [23]:
dataset=df[['age','job','marital','education','default','balance','housing','loan','contact','day','month','duration','campaign','pdays','previous','poutcome']]
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown

In [24]:
# print("\nDrop unwanted columns")
# dataset = dataset.drop(['marital','education','contact','poutcome', 'day', 'month'], axis = 1)
# dataset.head()

In [25]:
dataset.shape

(4521, 16)

In [26]:
dataset.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome'],
      dtype='object')

In [27]:
dataset.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
dtype: object

In [28]:
type(dataset)

pandas.core.frame.DataFrame

In [29]:
dataset.shape

(4521, 16)

In [30]:
dataset.describe().sum()

age          4799.746306
balance     78821.295962
day          4623.162952
duration     8691.817924
campaign     4583.903436
pdays        5527.887769
previous     4548.236141
dtype: float64

In [31]:
dataset.mean()

age           41.170095
balance     1422.657819
day           15.915284
duration     263.961292
campaign       2.793630
pdays         39.766645
previous       0.542579
dtype: float64

In [32]:
dataset.shape

(4521, 16)

In [33]:
dataset.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
dtype: int64

In [34]:
df.replace(['yes','no'],[1,0],inplace=True)
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,0
1,33,services,married,secondary,0,4789,1,1,cellular,11,may,220,1,339,4,failure,0
2,35,management,single,tertiary,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,0
3,30,management,married,tertiary,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,0
4,59,blue-collar,married,secondary,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,0

In [35]:
df['y'].value_counts()

0    4000
1     521
Name: y, dtype: int64

In [36]:
#categoraical data
# def categorical_data(df):
df=pd.get_dummies(df)
df.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,0,1787,0,0,19,79,1,-1,0,...,0,0,0,0,1,0,0,0,0,1
1,33,0,4789,1,1,11,220,1,339,4,...,0,0,1,0,0,0,1,0,0,0
2,35,0,1350,1,0,16,185,1,330,1,...,0,0,0,0,0,0,1,0,0,0
3,30,0,1476,1,1,3,199,4,-1,0,...,1,0,0,0,0,0,0,0,0,1
4,59,0,0,1,0,5,226,1,-1,0,...,0,0,1,0,0,0,0,0,0,1

In [37]:
df.shape

(4521, 49)

In [38]:
df.columns
df.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,0,1787,0,0,19,79,1,-1,0,...,0,0,0,0,1,0,0,0,0,1
1,33,0,4789,1,1,11,220,1,339,4,...,0,0,1,0,0,0,1,0,0,0
2,35,0,1350,1,0,16,185,1,330,1,...,0,0,0,0,0,0,1,0,0,0
3,30,0,1476,1,1,3,199,4,-1,0,...,1,0,0,0,0,0,0,0,0,1
4,59,0,0,1,0,5,226,1,-1,0,...,0,0,1,0,0,0,0,0,0,1

In [39]:
df.shape

(4521, 49)

In [40]:
#feature_scaling
def feature_scaling(df):
    for name in df.columns:
        df[name] = (df[name] - df[name].min()) / (df[name].max()-df[name].min())
    return df

In [41]:

df=feature_scaling(df)
df
df.shape

(4521, 49)

In [42]:
#split data into train data ani test data
def split_train_test(df):
    train=len(df)*0.70
    train=int(train)
    test=len(df)-train
    test=int(test)
    return train,test

In [43]:
train,test=split_train_test(df)
train_data=df.head(train)
test_data=df.tail(test)
train_data.head()
test_data.tail()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
4516,0.205882,0.0,0.039999,1.0,0.0,0.966667,0.107580,0.081633,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4517,0.558824,1.0,0.000000,1.0,1.0,0.266667,0.049321,0.000000,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4518,0.558824,0.0,0.048429,0.0,0.0,0.600000,0.048659,0.204082,0.000000,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4519,0.132353,0.0,0.059731,0.0,0.0,0.166667,0.041377,0.061224,0.243119,0.12,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4520,0.367647,0.0,0.059717,1.0,1.0,0.066667,0.112877,0.020408,0.286697,0.28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [44]:
train_data.shape,test_data.shape

((3164, 49), (1357, 49))

In [45]:
def separate(df):
    output = df.y
    return df.drop('y', axis=1), output


train_x_data,train_y_data= separate(train_data)
test_x_data,test_y_data=separate(test_data)

In [46]:
print("x train data:=",train_x_data.shape)
print("y train data:=",train_y_data.shape)
print("x test data:=",test_x_data.shape)
print("y_test_data:=",test_y_data.shape)

x train data:= (3164, 48)
y train data:= (3164,)
x test data:= (1357, 48)
y_test_data:= (1357,)

In [47]:
df.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0.161765,0.0,0.068455,0.0,0.0,0.600000,0.024826,0.000000,0.000000,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.205882,0.0,0.108750,1.0,1.0,0.333333,0.071500,0.000000,0.389908,0.16,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.235294,0.0,0.062590,1.0,0.0,0.500000,0.059914,0.000000,0.379587,0.04,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.161765,0.0,0.064281,1.0,1.0,0.066667,0.064548,0.061224,0.000000,0.00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.588235,0.0,0.044469,1.0,0.0,0.133333,0.073486,0.000000,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [48]:
class Logistic_regression:
    def __init__(self):
        
        self.learning_rate=0.001
        self.epoch=1000
        
    def gradient_decent(self,x_train,y_train,theta_vector):
        h1=0
        h2=0

        for data in range(self.epoch):
           
            z =np.dot(theta_vector.T,x_train.T)
            #print("z((1, 3164))",z.shape)
            
            sigmoid=np.divide(1,np.add(1,np.exp(-z)))
            #print("sigmoid( (1, 3164):",sigmoid.shape)
            
            h1=np.subtract(sigmoid,y_train.T)
            #print("h1 shape(1, 3164)",h1.shape)
            
            h2=np.dot(h1,x_train)
            #print("h2 shape((1, 49))",h2.shape)
            
            theta_vector1 =np.dot((self.learning_rate/len(x_train)),h2.T)
            #print("theta_vector1((49, 1))",theta_vector1.shape)
            
            theta_vector =np.subtract(theta_vector,theta_vector1)
        #print("theta_vector2( (49, 1))",theta_vector.shape)
            
        return theta_vector
    
    def test(self,x_test_data,theta_vector_value):
        y_predict = np.zeros((x_test_data.shape[0], 1), dtype=float)
        z = np.dot(x_test_data, theta_vector_value)
        print("z((1357, 1))",z.shape)
        sigmoid = np.array(1 / (1 + np.exp(-z)))
        print("sigmoid",sigmoid.shape)
        for i in (range(0, len(sigmoid))):
            if round(sigmoid[i][0],2) <= 0.5:
                y_predict[i][0] = 0
            else:
                y_predict[i][0] = 1
        y_predict= np.reshape(y_predict, (len(y_predict), 1))
        return y_predict
    
    
    def accuracy(self, y_test_data, predicat_value):
        count=0
        for i in range(0,len(y_test_data)):
            if predicat_value[i]==y_test_data[i]:
                count = count + 1
        
        return count/len(y_test_data)*100

def main():
    obj=Logistic_regression()
    
    #separate train data and test data
    x_train_data=np.array(train_x_data)
    print("x_train_data",x_train_data.shape)
    
    y_train_data=np.array(train_y_data)
    print("y_train_data",y_train_data.shape)

    # separate split data into x_test data and y_train data
    x_test_data=np.array(test_x_data)
    print(x_test_data.shape)
    
    y_test_data=np.array(test_y_data)
    print("y test  value:",y_test_data)
    
    

    
    x_size=48
    print(x_size)
    
    theta_vector = np.full((x_size+1,1),.1)
    print("theta vector shape:",theta_vector.shape)
    
    x_train_data = np.column_stack((np.ones((x_train_data.shape[0], 1)), x_train_data))
    print("x_train data",x_train_data.shape)
    
    x_test_data = np.column_stack((np.ones((x_test_data.shape[0], 1)), x_test_data))
    print("x test data",x_test_data.shape)
    
    #gardient_decent
    
    theta_vector_value=obj.gradient_decent(x_train_data,y_train_data,theta_vector)
    #print("theata vector:",theta_vector_value)
    
    predicat_value=obj.test(x_test_data,theta_vector_value)
    print("predicated value:=",predicat_value)
    
    accuracy=obj.accuracy(predicat_value,y_test_data)
    print("final accuracy:",accuracy)
    
    
if __name__=='__main__':
    main()

x_train_data (3164, 48)
y_train_data (3164,)
(1357, 48)
y test  value: [0. 0. 0. ... 0. 0. 0.]
48
theta vector shape: (49, 1)
x_train data (3164, 49)
x test data (1357, 49)
z((1357, 1)) (1357, 1)
sigmoid (1357, 1)
predicated value:= [[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]
final accuracy: 88.57774502579218