# Import Libaries

In [1]:
import pickle
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder
from sklearn.metrics import confusion_matrix,accuracy_score
import warnings
warnings.filterwarnings('ignore')

# load test file

In [2]:
dataset = pd.read_csv('test_file.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,8635,15656141,Ts'ao,741,France,Male,39,5,0.0,1,0,1,40207.06,0
1,9119,15804052,Scott,710,Spain,Male,23,6,0.0,2,1,1,134188.11,0
2,4186,15642570,Scott,675,Spain,Male,35,8,0.0,2,1,0,29062.25,0
3,3319,15625126,Duncan,629,France,Female,40,6,0.0,2,1,1,139356.30,0
4,1336,15576683,Yin,568,Spain,Female,43,9,0.0,1,1,0,125870.79,1

# load model

In [3]:
fileobj=open('save_model.pkl','rb')
classifier = pickle.load(fileobj)
sc = pickle.load(fileobj)

Using TensorFlow backend.
WARNING: Logging before flag parsing goes to stderr.
W0716 19:09:09.456339 139844772706112 deprecation_wrapper.py:118] From /home/admin238/anaconda3/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

W0716 19:09:09.615758 139844772706112 deprecation_wrapper.py:118] From /home/admin238/anaconda3/lib/python3.7/site-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0716 19:09:09.623164 139844772706112 deprecation.py:323] From /home/admin238/anaconda3/lib/python3.7/site-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

# seperating features and labels from dataset

In [4]:
x_test = dataset.iloc[:,3:13].values
# Exited
y_test = dataset.iloc[:,13].values

In [5]:
def categorical_encode(x):
   # Encoding categorical data country
    labelencoder_x_country = LabelEncoder()
    x[:,1] = labelencoder_x_country.fit_transform(x[:,1])
   # Encode categorical data gender
    labelencoder_x_gender = LabelEncoder()
    x[:,2]  =  labelencoder_x_gender.fit_transform(x[:,2])
    ohe_country = OneHotEncoder(categorical_features=[1])
    x = ohe_country.fit_transform(x).toarray()
    x = x[:, 1:]
    return x

x_test = categorical_encode(x_test)

# transform test data

In [6]:
x_test = sc.transform(x_test)
x_test

array([[-0.57686914, -0.57085487,  0.9316693 , ..., -1.53037138,
         0.95986715, -1.04967633],
       [-0.57686914,  1.75175872,  0.61146921, ...,  0.65343616,
         0.95986715,  0.58548027],
       [-0.57686914,  1.75175872,  0.24995297, ...,  0.65343616,
        -1.04181084, -1.24358254],
       ...,
       [ 1.73349539, -0.57085487, -0.45242143, ..., -1.53037138,
        -1.04181084,  1.39804363],
       [ 1.73349539, -0.57085487, -2.42526718, ...,  0.65343616,
        -1.04181084, -0.03890142],
       [ 1.73349539, -0.57085487,  2.05753416, ...,  0.65343616,
         0.95986715,  0.55042519]])

# predict test result

In [7]:
prediction = classifier.predict(x_test)
prediction = (prediction > 0.5)

# checking how many prediction are correct predicted and how many are wrongly predicted

In [9]:
cm = confusion_matrix(prediction,y_test)
cm

array([[1490,  276],
       [  85,  149]])

# calculating accuracy

In [10]:
print (accuracy_score(y_test,prediction)*100,'% of cross validation data was classified correctly')

81.95 % of cross validation data was classified correctly

In [11]:
print (((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]), '% of testing data was classified correctly')

81.95 % of testing data was classified correctly