In [73]:
import sklearn
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import pickle
import warnings 
warnings.filterwarnings('ignore',category=DeprecationWarning)
from sklearn.metrics import max_error

In [74]:
# reading the pickle file
fileObject = open('training.pkl','rb')
classifier = pickle.load(fileObject)

In [75]:
# read file
dataset=pd.read_csv('test.csv')
dataset.head()

   yr  mnth  hr  temp   atemp  windspeed  casual  registered  cnt
0   0     5   5  0.56  0.5303     0.2239       4           3    7
1   0    10   4  0.44  0.4394     0.0000       1           4    5
2   1    10  19  0.44  0.4394     0.1343      81         662  743
3   1     2  11  0.26  0.2273     0.3582      45         163  208
4   1     6  21  0.66  0.6212     0.1045      83         250  333

In [76]:
# separating features and labels of training dataset
x_test=dataset.iloc[:,:-1].values
y_test=dataset.iloc[:,1].values

In [77]:
x_test.shape,y_test.shape

((5214, 8), (5214,))

In [78]:
prediction = classifier.predict(x_test)

In [79]:

# calculating accuracy 
test_accuraccy = sklearn.metrics.mean_squared_log_error(y_test,prediction)
print("Accuracy of test data =",  test_accuraccy)

Accuracy of test data = 59.42999804973062