In [2]:
import pandas as pd
import seaborn as sb
import numpy as np

In [3]:
dataset=pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [6]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
dataset.shape

(10000, 14)

In [8]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [9]:
corr=dataset.corr()
print(corr['Exited'].sort_values(ascending=True)[:])

IsActiveMember    -0.156128
NumOfProducts     -0.047820
CreditScore       -0.027094
RowNumber         -0.016571
Tenure            -0.014001
HasCrCard         -0.007138
CustomerId        -0.006248
EstimatedSalary    0.012097
Balance            0.118533
Age                0.285323
Exited             1.000000
Name: Exited, dtype: float64

In [10]:
dataset.drop(['HasCrCard','CustomerId','Surname'],axis=1,inplace=True)

In [11]:
dataset.columns

Index(['RowNumber', 'CreditScore', 'Geography', 'Gender', 'Age', 'Tenure',
       'Balance', 'NumOfProducts', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [12]:
#categorical data
dataset=pd.get_dummies(dataset)
dataset.head()

,RowNumber,CreditScore,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,1,619,42,2,0.00,1,1,101348.88,1,1,0,0,1,0
1,2,608,41,1,83807.86,1,1,112542.58,0,0,0,1,1,0
2,3,502,42,8,159660.80,3,0,113931.57,1,1,0,0,1,0
3,4,699,39,1,0.00,2,0,93826.63,0,1,0,0,1,0
4,5,850,43,2,125510.82,1,1,79084.10,0,0,0,1,1,0

In [13]:
#feature scaling
def feature_scaling(dataset):
    for i in dataset.columns:
        dataset[i]=(dataset[i]-dataset[i].min())/(dataset[i].max()-dataset[i].min())
    return dataset
dataset=feature_scaling(dataset)
dataset.head()

,RowNumber,CreditScore,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,0.0000,0.538,0.324324,0.2,0.000000,0.000000,1.0,0.506735,1.0,1.0,0.0,0.0,1.0,0.0
1,0.0001,0.516,0.310811,0.1,0.334031,0.000000,1.0,0.562709,0.0,0.0,0.0,1.0,1.0,0.0
2,0.0002,0.304,0.324324,0.8,0.636357,0.666667,0.0,0.569654,1.0,1.0,0.0,0.0,1.0,0.0
3,0.0003,0.698,0.283784,0.1,0.000000,0.333333,0.0,0.469120,0.0,1.0,0.0,0.0,1.0,0.0
4,0.0004,1.000,0.337838,0.2,0.500246,0.000000,1.0,0.395400,0.0,0.0,0.0,1.0,1.0,0.0

In [14]:
#split train and test data
def train_test_data(dataset):
    train=len(dataset)*0.70
    train=int(train)
    
    test=len(dataset)-train
    test=int(test)
    
    train=dataset.head(train)
    test=dataset.tail(test)
    
    return train,test
train,test=train_test_data(dataset)
train.shape,test.shape

((7000, 14), (3000, 14))

In [15]:
#separate x,y train and x,y test data
def separate(dataset):
    output=dataset['Exited']
    return dataset.drop('Exited',axis=1),output

x_train,y_train=separate(train)
x_test,y_test=separate(test)

In [16]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((7000, 13), (7000,), (3000, 13), (3000,))

In [19]:
class SimpleNeuralNetwork:
    def __init__(self):
        self.epoch=1000
        self.learning_rate=0.001
    def gradient_descent(self,x_train_data,y_train_data,weights,bias):
        db=0.0
        for i in range(self.epoch):
            z=np.dot(weights.T,x_train_data.T)+bias
            #print("z",z.shape)
            
            sigmoid=np.divide(1,np.add(1,np.exp(-z)))
#             print("sigmoid",sigmoid.shape)
            
            activation=sigmoid
#             print("activation",activation.shape)
            
            dz=np.subtract(activation,y_train_data.T)
#             print("x train data",x_train_data.shape,z.shape)
            
            dw=np.dot(x_train_data.T,z.T)
            dw=np.divide(dw,len(x_train_data))
#             print("dw",dw.shape)
            
            db = np.sum(dz,axis=1,keepdims=True)
#             print("db",db.shape)
            db = np.divide(db,len(x_train_data))
#             print("db1",db.shape)
            
            weights=np.subtract(weights,(np.dot(self.learning_rate,dw)))
#             print("weights",weights.shape)

            bias=np.subtract(bias,(np.dot(self.learning_rate,db)))
#             print("bias",bias.shape)
            
        return weights,bias
    
    def test(self,x_test_data,weights,bias):
        y_predict = np.zeros((x_test_data.shape[0], 1), dtype=float)
        z=np.dot(weights.T,x_test_data.T)+bias
#         print("z",z.shape)
        
        sigmoid=np.divide(1,np.add(1,np.exp(-z)))
#         print("sigmoid",sigmoid.shape)
        
        for i in (range(0, len(sigmoid))):
                if round(sigmoid[i][0],2) <= 0.5:
                    y_predict[i][0] = 0
                else:
                    y_predict[i][0] = 1
        y_predict= np.reshape(y_predict, (len(y_predict), 1))
        return y_predict
    
    
    def accuracy(self, y_test_data, y_predict):
        count=0
        for i in range(0,len(y_test_data)):
            if y_predict[i]==y_test_data[i]:
                count = count + 1
        
        return count/len(y_test_data)*100


        
        


           
def main():
    obj=SimpleNeuralNetwork()
    
    #convert train test data into array
    x_train_data=np.array(x_train)
    print("x train data",x_train_data.shape)
    y_train_data=np.array(y_train)
    y_train_data=y_train_data.reshape(len(y_train_data),1)
    print("y train data",y_train_data.shape)
    
    
    x_test_data=np.array(x_test)
    print("x test data",x_test_data.shape)
    y_test_data=np.array(y_test)
    y_test_data=y_test_data.reshape(len(y_test_data),1)
    print("y test data",y_train_data.shape)
    
    weights=12
    bias=1
    weights=np.full((weights+bias,1),.1)
    
    
    weights,bias=obj.gradient_descent(x_train_data,y_train_data,weights,bias)
#     print("weights",weights)
#     print("bias",bias)
    
    y_predict=obj.test(x_test_data,weights,bias)
    print("y predict value",y_predict)
    
    accuracy=on=obj.accuracy(y_test_data,y_predict)
    print("final accuracy:=",accuracy)
     
    
if __name__=='__main__':
    main()

x train data (7000, 13)
y train data (7000, 1)
x test data (3000, 13)
y test data (7000, 1)
y predict value [[0.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]
final accuracy:= 80.2