In [1]:
import pandas as pd
import seaborn as sb
import numpy as np
import warnings
warnings.simplefilter("ignore")
import sklearn.metrics
import pickle
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
dataset=pd.read_csv("test.csv")
dataset.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15725660    Male   30            87000          0
1  15652400  Female   38            50000          0
2  15776844    Male   35            75000          0
3  15738448  Female   30            79000          0
4  15638003  Female   35            50000          0

In [3]:
dataset.shape

(80, 5)

In [4]:
fileobject=open("Train.pkl","rb")
classifier=pickle.load(fileobject)

In [5]:
#separate test data into x and y test data
x_test=dataset.iloc[:,[2,3]].values
y_test=dataset.iloc[:,4].values

In [6]:
x_test.shape,y_test.shape

((80, 2), (80,))

In [7]:
#predict the x test data
y_pred=classifier.predict(x_test)

In [8]:
#making the confusion matrix
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
print(cm)

[[ 0 58]
 [ 0 22]]

In [9]:
#check accuracy for X train data
Acc_test=sklearn.metrics.precision_score(y_pred,y_test)*100
print(Acc_test)

100.0