In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("classification.csv")

In [3]:
dataset.head()

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [4]:
#give dataset columns
dataset.columns=[
       "Age", "Workclass", "fnlwgt", "Education", "Education-Num", "Martial_Status",
       "Occupation", "Relationship", "Race", "Sex", "Capital_Gain", "Capital_Loss",
       "Hours_per_week", "Country", "Target"]

In [5]:
dataset.head()

,Age,Workclass,fnlwgt,Education,Education-Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

In [6]:
dataset.isnull().sum()

Age               0
Workclass         0
fnlwgt            0
Education         0
Education-Num     0
Martial_Status    0
Occupation        0
Relationship      0
Race              0
Sex               0
Capital_Gain      0
Capital_Loss      0
Hours_per_week    0
Country           0
Target            0
dtype: int64

In [7]:
dataset.shape

(32560, 15)

In [8]:
dataset['Target'].replace(" <=50K",-1,inplace=True)
dataset['Target'].replace(" >50K",1,inplace=True)
dataset.tail()

,Age,Workclass,fnlwgt,Education,Education-Num,Martial_Status,Occupation,Relationship,Race,Sex,Capital_Gain,Capital_Loss,Hours_per_week,Country,Target
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,-1
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,1
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,-1
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,-1
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,1

In [9]:
#get dummy variables whose are in categorical type
def categorical_value(dataset):
    dataset=pd.get_dummies(dataset)
    return dataset
dataset=categorical_value(dataset)
#print(dataset)

In [10]:
dataset.shape

(32560, 109)

In [11]:
#feature scaling
def feature_scaling(dataset):
    for col in dataset.columns:
        dataset[col]= (dataset[col] - dataset[col].min())/ (dataset[col].max() - dataset[col].min())
    return dataset.head()
feature_scaling(dataset)

,Age,fnlwgt,Education-Num,Capital_Gain,Capital_Loss,Hours_per_week,Target,Workclass_ ?,Workclass_ Federal-gov,Workclass_ Local-gov,...,Country_ Portugal,Country_ Puerto-Rico,Country_ Scotland,Country_ South,Country_ Taiwan,Country_ Thailand,Country_ Trinadad&Tobago,Country_ United-States,Country_ Vietnam,Country_ Yugoslavia
0,0.452055,0.048238,0.800000,0.0,0.0,0.122449,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.287671,0.138113,0.533333,0.0,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.493151,0.151068,0.400000,0.0,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.150685,0.221488,0.800000,0.0,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.273973,0.184932,0.866667,0.0,0.0,0.397959,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [12]:
dataset.shape

(32560, 109)

In [13]:
def split_train_test(dataset):
    train=len(dataset)*0.70
    train=int(train)
    test=len(dataset)-train
    test=int(test)
    train=dataset.head(train)
    test=dataset.tail(test)
    return train ,test

train,test=split_train_test(dataset)

In [14]:
train.shape,test.shape

((22792, 109), (9768, 109))

In [15]:
def separate(dataset):
    output = dataset['Target']
    return dataset.drop('Target', axis=1), output
train_x_data,train_y_data = separate(train)
test_x_data,test_y_data=separate(test)

In [16]:
train_x_data.shape,train_y_data.shape,test_x_data.shape,test_y_data.shape

((22792, 108), (22792,), (9768, 108), (9768,))

In [17]:
class Logistic_Regression2:
    def __init__(self):
        self.learning_rate=0.0001
        self.epoch=1000
    
    def Gradient_descent(self, x_train_data,y_train_data,theta_vector):
        h1=h2=0
       
        for data in range(self.epoch):
            z =np.dot(theta_vector.T,x_train_data.T)
#             print("z",z.shape) 
            
            sigmoid=np.divide(1,np.add(1,np.exp(-z)))
#             print("sigmoid",sigmoid.shape)
            

            h1=np.subtract(sigmoid,y_train_data.T)
#             print("h1 shape",h1.shape)
            
            h2=np.dot(h1,x_train_data)
#             print("h2 shape",h2.shape)

            
            theta_vector1 =np.dot((self.learning_rate/len(x_train_data)),h2.T)
#             print("theta_vector1",theta_vector1.shape)
            
            theta_vector =np.subtract(theta_vector,theta_vector1)
#             print("theta_vector2",theta_vector.shape)

        return theta_vector
       
       
    def test(self,x_test_data,theta_vector):
        
        y_predict = np.zeros((x_test_data.shape[0], 1), dtype=float)
        print("y_predict",y_predict.shape)
        z = np.dot(theta_vector.T,x_test_data.T)
            
        sigmoid = (1 / (1 + np.exp(-z)))
        print("sigmoid",sigmoid.shape)
        for i in range(0, len(sigmoid)):
            if round(sigmoid[i][0],2) <= 0.5:
                y_predict[i][0] = 0
            else:
                y_predict[i][0] = 1
        y_predict= np.reshape(y_predict, (len(y_predict), 1))
        
        return y_predict
    
        
    
    
    def accuracy(self,predicat_value,y_test_data):
        count=0
        for i in range(0,len(y_test_data)):
            if(predicat_value[i] == y_test_data[i]):
                count=count + 1
        return count/len(y_test_data)*100
        
        

            
       

        
        
        
        
def main():
    obj=Logistic_Regression2()
    
    #convert train data and test data into array
    x_train_data = np.array(train_x_data)   
    print("x train data:",x_train_data.shape)
    
    x_test_data  = np.array(test_x_data)
    print("x test data:=",x_test_data.shape)

    y_train_data = np.array(train_y_data)
    
    y_train_data=y_train_data.reshape(len(y_train_data),1)
    print("y train data:=",y_train_data.shape)
    

    y_test_data = np.array(test_y_data)
    y_test_data=y_test_data.reshape(len(y_test_data),1)
    print("y test data:=",y_test_data.shape)
    
    x_size=108
    #print("x size",x_size)
    
    theta_vector=np.full((x_size+1,1),.1)
    #print("theta vector",theta_vector)
    
    x_train_data = np.column_stack((np.ones((x_train_data.shape[0], 1)), x_train_data))
    print("x_train data",x_train_data.shape)
    
    x_test_data = np.column_stack((np.ones((x_test_data.shape[0], 1)), x_test_data))
    print("x test data",x_test_data.shape)
    
    
    theta_vector_value=obj.Gradient_descent(x_train_data,y_train_data,theta_vector)
    print("theata vector:",theta_vector_value.shape)
    
    
    predicat_value=obj.test(x_test_data,theta_vector_value)
    print("predicated value:=",predicat_value)
    
    accuracy=obj.accuracy(predicat_value,y_test_data)
    print("final accuracy:",accuracy)
    
    
                      
    
    
if __name__=='__main__':
    main()

x train data: (22792, 108)
x test data:= (9768, 108)
y train data:= (22792, 1)
y test data:= (9768, 1)
x_train data (22792, 109)
x test data (9768, 109)
theata vector: (109, 1)
y_predict (9768, 1)
sigmoid (1, 9768)
predicated value:= [[1.]
 [0.]
 [0.]
 ...
 [0.]
 [0.]
 [0.]]
final accuracy: 75.3992628992629