# Import Libaries

In [159]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('default',category=DeprecationWarning)

# Read and Load dataset

In [160]:
dataset=pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# check dataset info,describes,columns,shape,values isnull or not

In [161]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [162]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [163]:
dataset.shape

(10000, 14)

In [164]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [165]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

# Spliting the dataset into training and test dataset

In [166]:
train,test = train_test_split(dataset,test_size=0.2)

In [167]:
# saving test data into csv file
test.to_csv('test_file.csv',index=False,encoding='utf-8')

In [168]:
# split train data into train and cross validation dataset
train_data,cross_data = train_test_split(train,test_size=0.2,random_state=0)

In [169]:
train_data.shape,cross_data.shape

((6400, 14), (1600, 14))

# Separte dataset into Features and Labels

In [170]:
x_train=train_data.iloc[:,3:13].values
print(x_train.shape)
y_train=train_data.iloc[:,13].values
print(y_train.shape)

(6400, 10)
(6400,)

# Feature scaling

In [171]:
def categorial_encoding(x):
    from sklearn.preprocessing import LabelEncoder,OneHotEncoder
    labelencoder_X_1=LabelEncoder()
    x[:,1]=labelencoder_X_1.fit_transform(x[:,1])
    print(x.shape)
    labelencoder_X_2=LabelEncoder()
    x[:,2]=labelencoder_X_2.fit_transform(x[:,2])
    print(x.shape)
    onehotencoder=OneHotEncoder(categorical_features=[1])
    x=onehotencoder.fit_transform(x).toarray()
    print(x.shape)
    x=x[:,1:]
    return x

x_train=categorial_encoding(x_train)

(6400, 10)
(6400, 10)
(6400, 12)

/home/admin238/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/admin238/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [172]:
# seperating features and labels from dataset of cross validation dataset
# Credit Score through Estimated Salary
x_cv = cross_data.iloc[:,3:13].values
# Exited
y_cv = cross_data.iloc[:,13].values

In [173]:
x_cv=categorial_encoding(x_cv)

(1600, 10)
(1600, 10)
(1600, 12)

/home/admin238/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:371: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/admin238/anaconda3/lib/python3.7/site-packages/sklearn/preprocessing/_encoders.py:392: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [174]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_cv=sc.transform(x_cv)

In [182]:
x_train.shape,y_train.shape,x_cv.shape,y_cv.shape

((6400, 11), (6400,), (1600, 11), (1600,))

# Importing the keras libaries and package

In [183]:
#this libaries used for initialize neural network
import keras
from keras.models import Sequential

In [187]:
#used for create layers in Artificial neural network
from keras.layers import Dense

# Initializing the ANN

In [188]:
classifier=Sequential()

# Adding the input layer and first hidden layer

In [189]:
#simply the add simply the no.of nodes add in this hidden layer.dense function is no of layers 
# add in the hidden layer usingadd()functio
classifier.add(Dense(activation='relu',input_dim=11,units=6, kernel_initializer='uniform'))

# Adding second hidden layers

In [191]:
classifier.add(Dense(activation='relu',units=6, kernel_initializer='uniform'))

# Adding the output layers

In [195]:
classifier.add(Dense(units=1,activation='sigmoid',kernel_initializer='uniform'))

# Compling the ANN

In [209]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

# fitting the ANN to the training set

In [211]:
classifier.fit(x_train,y_train,batch_size=10,nb_epoch=100)

Epoch 1/100
1910/6400 [=======>......................] - ETA: 0s - loss: 0.3864 - acc: 0.8382

/home/admin238/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

6400/6400 [==============================] - 0s 76us/step - loss: 0.4004 - acc: 0.8334
Epoch 2/100
6400/6400 [==============================] - 0s 71us/step - loss: 0.4004 - acc: 0.8342
Epoch 3/100
6400/6400 [==============================] - 0s 73us/step - loss: 0.3998 - acc: 0.8348
Epoch 4/100
6400/6400 [==============================] - 0s 73us/step - loss: 0.3996 - acc: 0.8359
Epoch 5/100
6400/6400 [==============================] - 1s 85us/step - loss: 0.3995 - acc: 0.8359
Epoch 6/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3991 - acc: 0.8355
Epoch 7/100
6400/6400 [==============================] - 1s 81us/step - loss: 0.3991 - acc: 0.8339
Epoch 8/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3990 - acc: 0.8337
Epoch 9/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3986 - acc: 0.8347
Epoch 10/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3981 - acc: 0.8341
Epoch 11/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3983 - acc: 0.8339
Epoch 12/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3977 - acc: 0.8345
Epoch 13/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3976 - acc: 0.8362
Epoch 14/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3976 - acc: 0.8350
Epoch 15/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3970 - acc: 0.8362
Epoch 16/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3970 - acc: 0.8350
Epoch 17/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3967 - acc: 0.8352
Epoch 18/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3966 - acc: 0.8336
Epoch 19/100
6400/6400 [==============================] - 0s 73us/step - loss: 0.3967 - acc: 0.8361
Epoch 20/100
6400/6400 [==============================] - 0s 73us/step - loss: 0.3966 - acc: 0.8358
Epoch 21/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3964 - acc: 0.8350
Epoch 22/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3963 - acc: 0.8350
Epoch 23/100
6400/6400 [==============================] - 1s 80us/step - loss: 0.3961 - acc: 0.8361
Epoch 24/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3960 - acc: 0.8345
Epoch 25/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3960 - acc: 0.8347
Epoch 26/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3959 - acc: 0.8367
Epoch 27/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3955 - acc: 0.8359
Epoch 28/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3957 - acc: 0.8359
Epoch 29/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3958 - acc: 0.8361
Epoch 30/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3948 - acc: 0.8348
Epoch 31/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3956 - acc: 0.8361
Epoch 32/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3957 - acc: 0.8358
Epoch 33/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3953 - acc: 0.8356
Epoch 34/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3951 - acc: 0.8370
Epoch 35/100
6400/6400 [==============================] - 1s 81us/step - loss: 0.3951 - acc: 0.8348
Epoch 36/100
6400/6400 [==============================] - 1s 80us/step - loss: 0.3953 - acc: 0.8358
Epoch 37/100
6400/6400 [==============================] - 1s 81us/step - loss: 0.3947 - acc: 0.8362
Epoch 38/100
6400/6400 [==============================] - 1s 88us/step - loss: 0.3951 - acc: 0.8361
Epoch 39/100
6400/6400 [==============================] - 1s 78us/step - loss: 0.3953 - acc: 0.8353
Epoch 40/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3947 - acc: 0.8350
Epoch 41/100
6400/6400 [==============================] - 0s 78us/step - loss: 0.3949 - acc: 0.8359
Epoch 42/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3948 - acc: 0.8366
Epoch 43/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3944 - acc: 0.8369
Epoch 44/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3946 - acc: 0.8350
Epoch 45/100
6400/6400 [==============================] - 1s 85us/step - loss: 0.3950 - acc: 0.8375
Epoch 46/100
6400/6400 [==============================] - 1s 88us/step - loss: 0.3946 - acc: 0.8355
Epoch 47/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3943 - acc: 0.8367
Epoch 48/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3943 - acc: 0.8373
Epoch 49/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3946 - acc: 0.8366
Epoch 50/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3943 - acc: 0.8347
Epoch 51/100
6400/6400 [==============================] - 1s 84us/step - loss: 0.3941 - acc: 0.8353
Epoch 52/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3943 - acc: 0.8380
Epoch 53/100
6400/6400 [==============================] - 1s 85us/step - loss: 0.3941 - acc: 0.8359
Epoch 54/100
6400/6400 [==============================] - 1s 86us/step - loss: 0.3940 - acc: 0.8355
Epoch 55/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3941 - acc: 0.8350
Epoch 56/100
6400/6400 [==============================] - 1s 81us/step - loss: 0.3943 - acc: 0.8342
Epoch 57/100
6400/6400 [==============================] - 1s 83us/step - loss: 0.3943 - acc: 0.8342
Epoch 58/100
6400/6400 [==============================] - 1s 90us/step - loss: 0.3943 - acc: 0.8367
Epoch 59/100
6400/6400 [==============================] - 1s 90us/step - loss: 0.3938 - acc: 0.8364
Epoch 60/100
6400/6400 [==============================] - 1s 78us/step - loss: 0.3940 - acc: 0.8353
Epoch 61/100
6400/6400 [==============================] - 1s 85us/step - loss: 0.3939 - acc: 0.8366
Epoch 62/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3934 - acc: 0.8358
Epoch 63/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3940 - acc: 0.8358
Epoch 64/100
6400/6400 [==============================] - 1s 84us/step - loss: 0.3936 - acc: 0.8364
Epoch 65/100
6400/6400 [==============================] - 1s 88us/step - loss: 0.3940 - acc: 0.8352
Epoch 66/100
6400/6400 [==============================] - 1s 90us/step - loss: 0.3939 - acc: 0.8372
Epoch 67/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3937 - acc: 0.8345
Epoch 68/100
6400/6400 [==============================] - 1s 86us/step - loss: 0.3937 - acc: 0.8364
Epoch 69/100
6400/6400 [==============================] - 1s 79us/step - loss: 0.3941 - acc: 0.8370
Epoch 70/100
6400/6400 [==============================] - 1s 89us/step - loss: 0.3938 - acc: 0.8372
Epoch 71/100
6400/6400 [==============================] - 1s 86us/step - loss: 0.3939 - acc: 0.8345
Epoch 72/100
6400/6400 [==============================] - 1s 79us/step - loss: 0.3937 - acc: 0.8366
Epoch 73/100
6400/6400 [==============================] - 1s 84us/step - loss: 0.3936 - acc: 0.8352
Epoch 74/100
6400/6400 [==============================] - 1s 79us/step - loss: 0.3934 - acc: 0.8361
Epoch 75/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3934 - acc: 0.8337
Epoch 76/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3933 - acc: 0.8358
Epoch 77/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3936 - acc: 0.8352
Epoch 78/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3936 - acc: 0.8358
Epoch 79/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3932 - acc: 0.8358
Epoch 80/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3934 - acc: 0.8358
Epoch 81/100
6400/6400 [==============================] - 0s 78us/step - loss: 0.3931 - acc: 0.8366: 0s - loss: 0.4016 - acc: 0.
Epoch 82/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3929 - acc: 0.8358
Epoch 83/100
6400/6400 [==============================] - 1s 79us/step - loss: 0.3935 - acc: 0.8352
Epoch 84/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3931 - acc: 0.8375
Epoch 85/100
6400/6400 [==============================] - 0s 74us/step - loss: 0.3933 - acc: 0.8373
Epoch 86/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3932 - acc: 0.8369
Epoch 87/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3928 - acc: 0.8361
Epoch 88/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3928 - acc: 0.8375
Epoch 89/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3931 - acc: 0.8337
Epoch 90/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3925 - acc: 0.8380
Epoch 91/100
6400/6400 [==============================] - 0s 75us/step - loss: 0.3927 - acc: 0.8358
Epoch 92/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3929 - acc: 0.8381
Epoch 93/100
6400/6400 [==============================] - 1s 78us/step - loss: 0.3926 - acc: 0.8344
Epoch 94/100
6400/6400 [==============================] - 1s 79us/step - loss: 0.3931 - acc: 0.8364
Epoch 95/100
6400/6400 [==============================] - 0s 78us/step - loss: 0.3929 - acc: 0.8372
Epoch 96/100
6400/6400 [==============================] - 0s 78us/step - loss: 0.3925 - acc: 0.8370
Epoch 97/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3926 - acc: 0.8361
Epoch 98/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3930 - acc: 0.8364
Epoch 99/100
6400/6400 [==============================] - 0s 76us/step - loss: 0.3926 - acc: 0.8359
Epoch 100/100
6400/6400 [==============================] - 0s 77us/step - loss: 0.3924 - acc: 0.8364

# Predict the test set result

In [199]:
y_pred=classifier.predict(x_cv)
print(y_pred)
y_pred=(y_pred > 0.5)
print(y_pred)

[[0.08547691]
 [0.08547577]
 [0.09161514]
 ...
 [0.08547816]
 [0.08592558]
 [0.08872443]]
[[False]
 [False]
 [False]
 ...
 [False]
 [False]
 [False]]

# Making the Confusion matrix

In [203]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_cv,y_pred)
cm

array([[1201,   65],
       [ 217,  117]])

In [204]:
print (((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]), '% of testing data was classified correctly')

82.375 % of testing data was classified correctly

In [207]:
# calculating accuracy
from sklearn.metrics import accuracy_score
print (accuracy_score(y_cv,y_pred)*100,'% of cross validation data was classified correctly')

82.375 % of cross validation data was classified correctly

In [208]:
# save model in pickle file
import pickle
fileobj=open('save_model.pkl','wb')
pickle.dump(classifier,fileobj)
pickle.dump(sc,fileobj)
fileobj.close()