# Import Libaries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('default',category=DeprecationWarning)

# Read and Load dataset

In [2]:
dataset=pd.read_csv("Churn_Modelling.csv")
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

# check dataset info,describes,columns,shape,values isnull or not

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [4]:
dataset.describe().T

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

In [5]:
dataset.shape

(10000, 14)

In [6]:
dataset.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [7]:
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

# Separte dataset into Features and Labels

In [8]:
x=dataset.iloc[:,3:13].values
print(x.shape)
y=dataset.iloc[:,13].values
print(y.shape)

(10000, 10)
(10000,)

# Encoding Categorical data

In [9]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
labelencoder_X_1=LabelEncoder()
x[:,1]=labelencoder_X_1.fit_transform(x[:,1])
print(x.shape)
labelencoder_X_2=LabelEncoder()
x[:,2]=labelencoder_X_2.fit_transform(x[:,2])
print(x.shape)
onehotencoder=OneHotEncoder(categorical_features=[1])
x=onehotencoder.fit_transform(x).toarray()
print(x.shape)
x=x[:,1:]
print(x.shape)

(10000, 10)
(10000, 10)
(10000, 12)
(10000, 11)

/home/user/my_env/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/home/user/my_env/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

# Spliting the dataset into training and test dataset

In [10]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [11]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((8000, 11), (2000, 11), (8000,), (2000,))

# Feature Scaling

In [12]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [13]:
# x_train
x_test

array([[ 1.75486502, -0.57369368, -0.55204276, ...,  0.64259497,
         0.9687384 ,  1.61085707],
       [-0.5698444 , -0.57369368, -1.31490297, ...,  0.64259497,
        -1.03227043,  0.49587037],
       [-0.5698444 ,  1.74309049,  0.57162971, ...,  0.64259497,
         0.9687384 , -0.42478674],
       ...,
       [-0.5698444 ,  1.74309049, -0.74791227, ...,  0.64259497,
        -1.03227043,  0.71888467],
       [ 1.75486502, -0.57369368, -0.00566991, ...,  0.64259497,
         0.9687384 , -1.54507805],
       [ 1.75486502, -0.57369368, -0.79945688, ...,  0.64259497,
        -1.03227043,  1.61255917]])

In [14]:
!pip install keras

Requirement already satisfied: keras in /home/user/my_env/lib/python3.6/site-packages (2.2.4)
Requirement already satisfied: numpy>=1.9.1 in /home/user/my_env/lib/python3.6/site-packages (from keras) (1.16.3)
Requirement already satisfied: pyyaml in /home/user/my_env/lib/python3.6/site-packages (from keras) (5.1.1)
Requirement already satisfied: scipy>=0.14 in /home/user/my_env/lib/python3.6/site-packages (from keras) (1.2.1)
Requirement already satisfied: keras-preprocessing>=1.0.5 in /home/user/my_env/lib/python3.6/site-packages (from keras) (1.1.0)
Requirement already satisfied: six>=1.9.0 in /home/user/my_env/lib/python3.6/site-packages (from keras) (1.12.0)
Requirement already satisfied: h5py in /home/user/my_env/lib/python3.6/site-packages (from keras) (2.9.0)
Requirement already satisfied: keras-applications>=1.0.6 in /home/user/my_env/lib/python3.6/site-packages (from keras) (1.0.8)

# Importing the keras libaries and package

In [ ]:
#this libaries used for initialize neural network
import keras
from keras.models import Sequential

In [ ]:
#used for create layers in Artificial neural network
from tensorflow.keras.layers import Dense

# Initializing the ANN

In [1]:
classifier=Sequential()

NameError: name 'Sequential' is not defined

# Adding the input layer and first hidden layer

In [ ]:
#simply the add simply the no.of nodes add in this hidden layer.dense function is no of layers 
# add in the hidden layer usingadd()function
classifier.add((output_dim=6,init='uniform',activation='relu',input_dim=11))

# Adding second hidden layers

In [2]:
classifier.add((output_dim=6,init='uniform',activation='relu')

SyntaxError: invalid syntax (<ipython-input-2-9042a4423ecb>, line 1)

# Adding the output layers

In [3]:
classifier.add((output_dim=1,init='uniform',activation='sigmoid')

SyntaxError: invalid syntax (<ipython-input-3-acc58cd3c78e>, line 1)

In [ ]:
#Compling the ANN
classifier=compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

# fitting the ANN to the training set

In [5]:
classifier.fit(x_train,y_train,batch_size=10,nb_epoch=100)

NameError: name 'classifier' is not defined

# Predict the test set result

In [ ]:
y_pred=classifier.predict(x_test)
y_pred=(y_pred > 0.5)

# Making the Confusion matrix

In [ ]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_pred,y_test)