In [98]:
import sklearn
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
import pickle
import warnings 
warnings.filterwarnings('ignore',category=DeprecationWarning)
from sklearn.metrics import max_error

In [99]:
# reading the pickle file
fileObject = open('training.pkl','rb')
classifier = pickle.load(fileObject)

In [100]:
# read file
dataset=pd.read_csv('test_data.csv')
dataset.head()

   R&D Spend  Administration  Marketing Spend       State    Profit
0   22177.74       154806.14         28334.72  California  65200.33
1   38558.51        82982.09        174999.30  California  81005.76
2   28754.33       118546.05        172795.67  California  78239.91
3   20229.59        65947.93        185265.10    New York  81229.06
4   63408.86       129219.61         46085.25  California  97427.84

In [101]:
dataset.shape

(15, 5)

In [102]:
dataset.describe()

          R&D Spend  Administration  Marketing Spend         Profit
count     15.000000       15.000000        15.000000      15.000000
mean   55585.426000   132298.868667    152901.267333   95716.833333
std    30009.111846    29389.370418     97344.589246   30167.035387
min        0.000000    65947.930000         0.000000   14681.400000
25%    28709.045000   120071.800000     67151.740000   81117.410000
50%    63408.860000   135495.070000    172795.670000   97483.560000
75%    78201.290000   153108.015000    226895.875000  117044.940000
max    94657.160000   182645.560000    299737.290000  134307.350000

In [103]:
# separating features and labels of training dataset
x_test=dataset.iloc[:,:-1].values
y_test=dataset.iloc[:,1].values

In [104]:
x_test.shape,y_test.shape

((15, 4), (15,))

In [105]:
#Encoding categorical data
#Encoding the Independent variable

labelencoder_x=LabelEncoder()
x_test[:,3]=labelencoder_x.fit_transform(x_test[:,3])
# print(x_train)
onehotcoding=OneHotEncoder(categorical_features=[3])
# print(onehotcoding)
dataset=onehotcoding.fit_transform(x_test).toarray()
# print(dataset)
prediction = classifier.predict(x_test)

/home/user/my_env/lib/python3.6/site-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

In [106]:

# calculating accuracy 
test_accuraccy = sklearn.metrics.explained_variance_score(y_test,prediction)
test_accuraccy = (1-test_accuraccy)
print("Accuracy of test data =",  test_accuraccy)

Accuracy of test data = 66.72391039619166